@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Inter';
}

*:focus,
*:active {
	outline: none;
}

:root {
	font-size: 16px;
}

html,
body {
	font-size: 16px;
	width: 100%;
	height: 100%;
	background-color: #C5DFF8;
}

img {
	z-index: 1;
	height: 100%;
	width: 100%;
	object-fit: fill;
}

input {
	border: 0;
	outline-style: none;
}

::-webkit-scrollbar-track {
	background: transparent;
	opacity: 0.6;
	border-radius: 4px !important;
}

::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 4px !important;
}

div#__next {
	height: 100%;
}

*::-webkit-scrollbar {
	background: transparent;
	width: 5px;
	outline: 3px solid transparent;
	padding-top: 0.5rem;
	border-radius: 5px;
  }
  
  *::-webkit-scrollbar-track {
	background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
	background: transparent;
	height: 70%;
	width: 3px;
	border-radius: 5px;
  }

@media only screen and (max-width: 2880px) {
	:root {
		font-size: 16px !important;
	}
}

@media only screen and (max-width: 2600px) {
	:root {
		font-size: 15px !important;
	}
}

@media only screen and (max-width: 2200px) {
	:root {
		font-size: 14px !important;
	}
}

@media only screen and (max-width: 1900px) {
	:root {
		font-size: 12px !important;
	}
}

@media only screen and (max-width: 1350px) {
	:root {
		font-size: 11px !important;
	}
}

@media only screen and (max-width: 700px) {
	:root {
		font-size: 9px !important;
	}
}

@media only screen and (max-height: 1620px) and (width < height) {
	:root {
		font-size: 14.5px !important;
	}
}

@media only screen and (max-height: 1440px) {
	:root {
		font-size: 12.5px !important;
	}
}

@media only screen and (max-height: 1160px) {
	:root {
		font-size: 9px !important;
	}
}